@import 'styles/constants';

.image {
  height: 855px;
  max-width: $max-content-width;
}

.wrapperArrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: calc(50% - 24px);
  z-index: 1;
}

.arrows {
  cursor: pointer;
  opacity: 0.5;
  margin: 0px 11px;
}

.bullet {
  display: inline-block;
  text-align: center;
  width: 8px;
  height: 8px;
  border-radius: 1px;
  border: 2px solid rgba(253, 253, 253, 0.5);
  margin: 0px 12px 18px 0px;
}

.bulletActive {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: $brilliance;
  margin: 0px 12px 14px 0px;
}

.itemArrows {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.arrowNext {
  transform: rotate(0.5turn);
}

.text {
  color: $brilliance;
  text-align: center;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
  font-family: $font-family-main;
  font-size: 72px;
  line-height: 84px;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  top: calc(50% - 42px);
}

.wrapperButon {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: calc(50% + 62px);
}

.button {
  border-radius: 4px;
  background: $brilliance;
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #212121;
  font-family: $font-family-main;
  font-size: 20px;
  letter-spacing: 0.2px;
  transition: all 0.3s ease-out;
  cursor: pointer;

  &:hover {
    background-color: #212121;
    color: $brilliance;
  }
}
