@import 'styles/constants';

.menuBox {
  display: flex;
}

.menuItem {
  font-weight: 500;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.menuItemButton,
.menuItemButtonFocus {
  font-size: 20px;
  color: $mainFontColor;
  border-bottom: 2px solid $pageColor;

  @include media(laptopMin) {
    &:focus,
    &:hover {
      padding-bottom: 5px;
      border-bottom-color: $mainFontColor;
    }
  }
}

.menuItemButtonFocus {
  border-bottom-color: $mainFontColor;
}

.menuListContainer,
.menuListContainerHide {
  display: none;
  position: absolute;
  top: 140px;
  left: 0;
  z-index: 10;
  width: 100vw;
}

.menuListContainer {
  display: block;
}
