@import 'styles/constants';

.wrapper {
  position: relative;
  height: auto;
  @include media(tablet) {
    top: 46px;
  }
}

.burgerMenuButton {
  position: absolute;
  visibility: visible;
  right: 0;
  top: 0;
  z-index: 10;
  transition: visibility 300ms;
  cursor: pointer;
}

.burgerMenuIcon {
  padding: 8px;
}

.filterWrapper {
  position: fixed;
  overflow: hidden;
  padding: 5px 0 5px 5px;
  right: 0;
  bottom: 0;
}

.filterBox {
  position: fixed;
  right: 80px;
  bottom: 0;
  width: 420px;
  background-color: $pageBackground;
  box-shadow: 0px 2px 4px 0px $blackTransparentColor;
  transition: transform 300ms;
  z-index: 1000;

  @include media(tablet) {
    right: 0;
    width: 100%;
  }
}

.hide {
  position: fixed;
  transform: translate3d(100%, 0, 0);
  transition: transform 300ms;
}

.invisible {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  transition: visibility 3000ms;
}
