@import 'styles/constants';

.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $backdropColor;
}

.modal {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 72px 80px 32px;
  background-color: $pageBackground;

  @include media(mobile) {
    height: 50vh;
    padding: 32px 32px 66px;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.modalBox {
  display: flex;
  justify-content: flex-start;
  gap: 20%;
  padding-bottom: 77px;
  margin-bottom: 32px;
  border-bottom: 1px solid $grayLight;

  @media only screen and (max-width: 650px) {
    flex-direction: column;
    gap: 32px;
  }

  @include media(mobile) {
    height: 100%;
    border-bottom-width: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

.locationWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
  min-width: max-content;

  @media only screen and (max-width: 650px) {
    width: 80%;
  }

  @include media(mobile) {
    margin-right: 0px;
    width: 100%;
  }
}

.locationText,
.languageText {
  font-size: 20px;
  font-weight: 500;
}

.selectorWrapper,
.selectorWrapperAlert {
  border-width: 1px;
  border-style: solid;
  border-color: $pageBackground;
  border-radius: 5px;
  width: 100%;
}

.selectorWrapperAlert {
  border-color: $alertRed;
}

.rightSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  min-width: max-content;
  height: 100%;

  @include media(mobile) {
    width: 100%;
  }
}

.languageWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: max-content;
  margin-bottom: 40%;

  @include media(mobile) {
    margin-bottom: 0px;
  }
}

.languageButton,
.focus {
  width: 48px;
  height: 48px;
  font-size: 20px;
  border: 0.5px solid $blackColor;
  border-radius: 4px;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.languageButton:hover {
  cursor: pointer;
}

.focus {
  color: $brilliance;
  background-color: $blackColor;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.agreement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.agreementLabel {
  display: flex;
  align-items: center;
}

.agreementText {
  display: flex;
  align-items: center;
  user-select: none;
  font-size: 12px;

  &::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1.5px solid $blackColor;
    border-radius: 2px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
  }

  input:checked + &::before {
    background-color: $blackColor;
    background-image: url('../../../../assets/svgs/Check.svg');
  }
  input:not(:disabled):active + &::before {
    background-color: $blackColor;
  }
  input:disabled + &::before {
    background-color: $pageBackground;
  }
}

.assentButton {
  padding: 18px 80px;
  font-size: 20px;
  color: $brilliance;
  background-color: $blackColor;
  border-radius: 4px;
  transition: opacity 2s;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
