@import 'styles/constants';

.wrapper {
  display: flex;
  margin-top: 20px;
  padding: 55px 0 95px 80px;
  background-color: $pageBackground;
}

.category {
  display: flex;
  flex-direction: column;
}

.link,
.clothing,
.promotion {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.01rem;
  color: $textPrimary;
}

.link:not(:last-child),
.clothing,
.promotion {
  margin-bottom: 15px;
}

.promotion {
  color: $alertRed;
}

.link:hover,
.link:focus,
.clothing:hover,
.clothing:focus,
.promotion:hover,
.promotion:focus {
  color: $grayLight;
}

.clothingListWrapper {
  padding-left: 80px;
}

.hide {
  display: none;
}
