@import 'styles/constants';

.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
  @include media(tablet) {
    margin-bottom: 0;
  }
}

.img {
  width: 24px;
  height: 24px;
  position: relative;

  @include media(laptopMin) {
    display: none;
  }
}

.hide {
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 200ms ease-in;
}
