@import 'styles/constants';

.image {
  flex-basis: 33%;
  height: 750px;
  margin-right: 8px;
  transition: all 0.3s ease-out;

  @include media(tablet) {
    margin-right: auto;
    height: 267px;
  }
}

.categoryImageWrapper {
  overflow: hidden;
  transition: all 0.3s ease-out;
  position: relative;

  &:hover {
    & .image {
      transform: scale(1.1);
    }

    & .categorylink {
      display: block;
    }
  }

  @include media(tablet) {
    transform: none;
  }
}

.categoryTextWrapper {
  position: absolute;
  bottom: 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  font-family: 'League Spartan', sans-serif;
  text-transform: uppercase;
  color: $brilliance;
  padding: 40px 0px 56px;
  width: 100%;

  @include media(tablet) {
    padding-bottom: 26px;
  }
}

.categorylink {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  display: none;
  transition: all 3s ease-out;
  margin-bottom: 10px;
}

.categoryTitle {
  font-size: 64px;
  text-align: center;
}