@import 'styles/constants';

.paymentWrapper {
  width: auto;
}

.paymentButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include media(tablet) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.policy {
  display: block;
  font-size: 14px;
  text-align: right;
  margin-top: 40px;
  text-decoration: underline;
  color: $grayDark;
}
