@import 'styles/constants';

.searchWrapper {
  position: relative;
}

.filterWrapper {
  position: absolute;
  top: 23px;
  right: 0;
  z-index: auto;

  @include media(tablet) {
    position: fixed;
    top: 40px;
    right: 31px;
    z-index: 200;
  }
}

.searchIcon {
  width: 24px;
}

.loaderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
