@import 'styles/constants';

.newNow {
  display: flex;
  justify-content: center;
  width: 100%;
  @include media(tablet) {
    width: 500px;
  }
}

.newNowBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include media(tablet) {
    width: auto;
  }
}

.cardBox {
  display: flex;
  gap: 10px;
  @include media(tablet) {
    display: none;
  }
}

.cardBoxMobile {
  display: flex;
  gap: 10px;
  width: 450px;
  @include media(laptopUp) {
    display: none;
  }
}

.title {
  font-weight: 600;
  line-height: 53px;
  align-self: flex-start;
  cursor: pointer;

  &:hover {
    color: $grayLight;
  }
}
