@import 'styles/constants';

.wrapper {
  display: flex;
  flex-direction: column;

  &:hover,
  &:focus {
    display: flex;
  }
  @include media(tablet) {
    margin-bottom: 25px;
  }
}

.hide {
  display: none;
}

.link,
.linkSeeAll {
  font-size: 32px;
  letter-spacing: 0.01em;
  color: $textPrimary;
}

.link,
.linkSeeAll {
  font-size: 20px;
  margin-bottom: 30px;

  &:focus,
  &:hover {
    color: $grayLight;
  }
}

.linkSeeAll {
  font-weight: 600;
}

.link {
  margin-bottom: 10px;
}
