@import 'styles/constants';

.parameters {
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.error {
  position: absolute;
  right: 20px;
  bottom: 3px;
  font-size: 14px;
  font-weight: 300;
  color: $alertRed;
}
