@import 'styles/constants';

.image {
  height: 100%;
}

.color,
.chosenColor {
  height: 121px;

  &:not(:last-child) {
    margin-right: 15px;
  }
  cursor: pointer;
}

.color {
  border: 1px solid $pageBackground;
  cursor: pointer;
}

.chosenColor {
  border-radius: 5px;
  border: 1px solid $grayDark;
}
