.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 18px 0px;
  min-height: 121px;
  align-items: center;

  @mixin media($tablet) {
    margin-top: 47px;
  }
}

.navigation {
  position: relative;
  margin-right: 8.3rem;
}

.menuNameBox {
  display: flex;
}

.menuName {
  font-weight: 500;
  border-bottom: 2px solid #fdfdfd;
}

.menuName:not(:last-child) {
  margin-right: 40px;
}

.menuName:hover,
.menuName:focus {
  cursor: pointer;
  border-bottom: 2px solid;
}

.menuNameText {
  font-size: 20px;
}
.menuNameText:focus + .menList,
.menuNameText:hover + .menList {
  display: flex;
}

.menList {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 10;
  width: 100vw;
  padding-bottom: 95px;
  background-color: #fdfdfd;
}

.link {
  font-family: League Spartan;
  font-size: 32px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #212121;
}
.link:not(:last-child) {
  margin-bottom: 15px;
}

.logo {
  width: 133px;
}
