@import 'styles/constants';
.headerWrapper,
.headerWrapperHomePage {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 18px 80px;
  min-height: 121px;
  align-items: center;

  @mixin media($tablet) {
    margin-top: 47px;
  }
}

.headerWrapperHomePage {
  justify-content: center;
}

.invisible {
  display: none;
}

.navigation {
  margin-right: 8.3rem;
}

.menuBox {
  display: flex;
}

.menuName {
  font-weight: 500;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.menuNameLink {
  font-size: 20px;
  color: $mainFontColor;
  border-bottom: 2px solid $pageColor;

  &:focus,
  &:hover {
    padding-bottom: 5px;
    border-bottom-color: $mainFontColor;
  }

  &:focus + .menList,
  &:hover + .menList {
    display: block;
  }
}

.menList {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 10;
  width: 100vw;

  &:hover,
  &:focus {
    display: block;
  }
}

.menListBox {
  display: flex;
  margin-top: 20px;
  padding-left: 80px;
  padding-top: 55px;
  padding-bottom: 95px;
  background-color: $pageColor;
}

.category,
.subCategory {
  display: flex;
  flex-direction: column;
}

.subCategory {
  display: flex;
  padding: 0 80px;

  &:hover,
  &:focus {
    display: flex;
  }
}
.subCategoryHide {
  display: none;
}

.link,
.linkSeeAll,
.linkSub,
.clothing,
.promotion {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: $mainFontColor;
}

.link:not(:last-child),
.clothing,
.promotion {
  margin-bottom: 15px;
}

.promotion {
  color: $redColor;
}

.linkSeeAll,
.linkSub {
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 30px;
}

.linkSub {
  font-weight: 400;
  margin-bottom: 10px;
}

.link:hover,
.link:focus,
.linkSeeAll:focus,
.linkSeeAll:hover,
.linkSub:hover,
.linkSub:focus,
.clothing:hover,
.clothing:focus,
.promotion:hover,
.promotion:focus {
  color: $greyColor;
}

.logo {
  width: 133px;
}

.userBox {
  display: flex;
  height: 40px;
}

.inputBox {
  position: relative;
  margin-right: 50px;
}

.input {
  width: 200px;
  height: 100%;
  padding-left: 60px;
  border: 1px solid $greyColor;
  border-radius: 4px;

  &::placeholder {
    font-family: $font-family-main;
    color: $mainFontColor;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-align: left;
  }
}

.searchBtn {
  position: absolute;
  top: 0;
  left: 8px;
  width: 40px;
  height: 100%;
}

.searchIcon {
  width: 24px;
  height: 24px;
}

.userBtn {
  width: 40px;
  height: 40px;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.userIcon {
  width: 24px;
  height: 24px;
}
