.footer {
  margin-top: 15px;
}

.shadowBorder {
  width: 100%;
  border: 1px solid #ccc;
  @media screen and (min-width: 481px) {
    box-shadow: 0px 4px 4px 0px #00000026;
  }
}

.box {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  margin-bottom: 75px;
  @mixin media($mobile) {
    flex-direction: column;
    margin-bottom: 16px;
  }
}

.columnDesktop {
  @mixin media($mobile) {
    display: none;
  }
}

.columnMobile {
  @media screen and (min-width: 481px) {
    display: none;
  }
  margin-top: 20px;
}

.titleBox {
  margin-bottom: 30px;
  @mixin media($mobile) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}

.title {
  font-size: 16px;
  line-height: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  @mixin media($mobile) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.01em;
  }
}

.listButton {
  height: 24px;
  border: none;
  background: none;
}

.listImg {
  width: 24px;
  height: 24px;
  position: relative;
  top: -2px;
  @media screen and (min-width: 481px) {
    display: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  @mixin media($mobile) {
    height: 0;
    padding-bottom: 16px;
    visibility: hidden;
    color: #ffffff;
    transition: all 0.2s ease;
  }
}

.listOpen {
  display: flex;
  flex-direction: column;
  animation-name: changeHeight;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

.listOpenHelp {
  display: flex;
  flex-direction: column;
  animation-name: changeHeightHelp;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

.link {
  font-size: 14px;
  line-height: 15px;
  color: #212121;
}

.link:not(:last-child) {
  margin-bottom: 24px;
}

.social {
  margin-bottom: 32px;

  @mixin media($mobile) {
    text-align: center;
    order: 2;
    margin-bottom: 0;
  }
}

.socialBtn {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.language {
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
}

.info {
  @mixin media($mobile) {
    display: flex;
    flex-direction: column;
  }
}

.infoBox {
  display: flex;
  margin-bottom: 32px;
}

.img {
  position: relative;
  top: -6px;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.number {
  margin-right: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
}

.active {
  font-size: 14px;
  line-height: 13px;
  color: #00ca8d;
}

.workDays {
  font-size: 12px;
  line-height: 11px;
  color: #959595;
  @mixin media($mobile) {
    margin-bottom: 15px;
  }
}

.copyright {
  text-align: center;
  font-size: 14px;
  line-height: 13px;
  color: #636363;
}

@keyframes changeHeight {
  0% {
    height: 0;
  }
  10% {
    height: 16px;
  }
  20% {
    height: 32px;
  }
  30% {
    height: 48px;
  }
  40% {
    height: 64px;
  }
  50% {
    height: 80px;
  }
  60% {
    height: 96px;
  }
  70% {
    height: 112px;
  }
  80% {
    height: 128px;
  }
  90% {
    height: 144px;
  }
  100% {
    height: 160px;
  }
}

@keyframes changeHeightHelp {
  0% {
    height: 0;
  }
  10% {
    height: 24px;
  }
  20% {
    height: 48px;
  }
  30% {
    height: 72px;
  }
  40% {
    height: 96px;
  }
  50% {
    height: 120px;
  }
  60% {
    height: 144px;
  }
  70% {
    height: 168px;
  }
  80% {
    height: 192px;
  }
  90% {
    height: 216px;
  }
  100% {
    height: 240px;
  }
}
