@import 'styles/constants';

.menuBox {
  display: flex;

  @include media(tablet) {
    display: none;
  }
}

.menuItem {
  font-weight: 500;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.menuItemLink {
  font-size: 20px;
  color: $textPrimary;
  border-bottom: 2px solid $pageBackground;

  @include media(laptopUp) {
    &:focus,
    &:hover {
      padding-bottom: 5px;
      border-bottom-color: $textPrimary;
    }

    &:focus + .menuListContainer,
    &:hover + .menuListContainer {
      display: block;
    }
  }
}

.menuListContainer {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 10;
  width: 100vw;

  &:hover,
  &:focus {
    display: block;
  }
}
