@import 'styles/constants';

.menu ul {
  display: flex;

  @include media(tablet) {
    display: none;
  }
}

.menu ul li {
  font-weight: 500;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.menu > ul > li > a {
  font-size: 20px;
  color: $textPrimary;
  border-bottom: 2px solid $pageBackground;

  @include media(laptopUp) {
    &:focus,
    &:hover {
      padding-bottom: 5px;
      border-bottom-color: $textPrimary;
    }

    &:focus + ul,
    &:hover + ul {
      display: flex;
    }
  }
}

.item {
  padding-bottom: 5px;
  border-bottom: 2px solid $textPrimary !important;
}

.menu > ul > li > ul {
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 10;
  width: 100vw;

  margin-top: 20px;
  padding: 55px 0 95px 80px;
  background-color: $pageBackground;

  &:hover,
  &:focus {
    display: flex;
  }
}

.menu ul li ul li:first-child {
  display: flex;
  flex-direction: column;
}

.link,
.clothing,
.promotion {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.01rem;
  color: $textPrimary;
}

.link:not(:last-child),
.clothing,
.promotion {
  margin-bottom: 15px;
}

.promotion {
  color: $alertRed;
}

.link:hover,
.link:focus,
.clothing:hover,
.clothing:focus,
.promotion:hover,
.promotion:focus {
  color: $grayLight;
}

.clothingListWrapper {
  display: block;
  padding-left: 80px;
}

.hide {
  display: none;
}

.subcategoryWrapper {
  display: flex;
  flex-direction: column;

  &:hover,
  &:focus {
    display: flex;
  }
  @include media(tablet) {
    margin-bottom: 25px;
  }
}

.subcategoryLink,
.linkSeeAll {
  font-size: 32px;
  letter-spacing: 0.01em;
  color: $textPrimary;
}

.subcategoryLink,
.linkSeeAll {
  font-size: 20px;
  margin-bottom: 30px;

  &:focus,
  &:hover {
    color: $grayLight;
  }
}

.linkSeeAll {
  font-weight: 600;
}

.subcategoryLink {
  margin-bottom: 10px;
}
