@import 'styles/constants';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.spanText {
  color: $textPrimary;
  font-family: $font-family-main;
  font-size: 24px;
  font-weight: 300;
}

.mainText {
  color: $textPrimary;
  font-family: $font-family-main;
  font-size: 32px;
  font-weight: 400;
}
