// .container {
//   width: calc((100% - 16px) / 100 * 13);
//   height: 100%;
// }

.imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  // grid-column:  1 / 2;
  // grid-row: 1 / 7;
}

.image {
  width: 100%;
}

.imageButton {
  // grid-column:  1 / 2;
  // grid-row: 1fr;
}
