@import 'styles/constants';

.wrapperCategoryCards {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.wrapperHomePage {
  margin-bottom: 153px;

  @include media(tablet) {
    margin-bottom: 40px;
  }
}
